@page "/"

<PageTitle>Nomoz Vaqtlari!</PageTitle>


@if(data is not null && data.Data is not null && data.Data.Timings is not null && data.Data.Date is not null)
{    
    <MudText Style="padding: 5%;" Typo="Typo.h5" Align="Align.Center">Namoz Vaqtlari. @data.Data.Date.Readable!.ToString()</MudText>
    <MudGrid Style="justify-content: center; align-items: center; width: 100%; padding-left: 10%; padding-right:10% ">
        <MudItem xs = "12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="background-color:antiquewhite width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Bomdod</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Fajr</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Quyosh</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Sunrise</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Peshin</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Dhuhr</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Asr</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Asr</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Shom</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Maghrib</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h6">Xufton</MudText>
                        <MudText Typo="Typo.h6">@data.Data.Timings.Isha</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <MudText Color="Color.Warning" Typo="Typo.h5">Yuklanmoqda...</MudText>
    </div>
}