@page "/"

<PageTitle>Nomoz Vaqtlari!</PageTitle>


@if(data is not null && data.Data is not null && data.Data.Timings is not null && data.Data.Date is not null)
{    
    <MudText Style="padding: 5%;" Typo="Typo.h4" Align="Align.Center">Namoz Vaqtlari. @data.Data.Date.Readable!.ToString()</MudText>
    <MudGrid Spacing="12" Style="justify-content: center; align-items: center; height: 40vh; width: 100%; padding-left: 10%; padding-right:10% ">
        <MudItem xs = "12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="background-color:antiquewhite width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Bomdod</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Fajr.ToString()</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Quyosh</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Sunrise.ToString()</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Peshin</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Dhuhr.ToString()</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Asr</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Asr.ToString()</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Shom</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Maghrib.ToString()</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudPaper>
                <MudCard Style="width: auto; height: auto; max-width: 100%;">
                    <MudCardContent style="display: flex; justify-content: space-between; padding:6%; ">
                        <MudText Typo="Typo.h5">Xufton</MudText>
                        <MudText Typo="Typo.h5">@data.Data.Timings.Isha</MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <MudText Color="Color.Warning" Typo="Typo.h5">Yuklanmoqda...</MudText>
    </div>
}